<nav class="hidden lg:block">
  <ul class="flex items-center justify-center gap-8 mt-4 mb-4">
    <li>
      <a [routerLink]="['home-page']">HOME</a>
    </li>
    <li>
      <a [routerLink]="['beauty']">BEAUTY</a>
    </li>
    <li>
      <a [routerLink]="['culture']">CULTURE</a>
    </li>
    <li>
      <a [routerLink]="['editorial']">EDITORIAL</a>
    </li>
    <li>
      <a [routerLink]="['fashion']">FASHION</a>
    </li>
    <li>
      <a [routerLink]="['shopping/products/product-list/men-shirts']"
        >SHOPPING</a
      >
      <!-- <a [routerLink]="['shopping/products/men-shirts']">SHOPPING</a> -->
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
