<!-- <div class="cart">
  <h2>Giỏ hàng</h2>
  <ul>
    <li *ngFor="let item of cartItems">
      <img [src]="item.imageUrl" alt="{{ item.name }}" width="50">
      <span>{{ item.name }}</span>
      <span>{{ item.price | currency }}</span>
      <button (click)="removeItem(item.id)">Xóa</button>
    </li>
  </ul>
  <div *ngIf="cartItems.length > 0">
    <p>Tổng cộng: {{ totalPrice | currency }}</p>
  </div>
  <div *ngIf="cartItems.length === 0">
    <p>Giỏ hàng của bạn đang trống.</p>
  </div>
</div> -->

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">
      Shopping Cart
    </h2>

    <div class="mt-10 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          <div
            *ngFor="let item of cartItems; let i = index"
            class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6"
          >
            <div
              class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0"
            >
              <a href="#" class="shrink-0 md:order-1">
                <img class="h-20 w-20 dark:hidden" [src]="item.imageUrl" />
              </a>

              <div
                class="flex items-center justify-between md:order-3 md:justify-end"
              >
                <!-- quantity -->
                <div class="col-md-6 my-4 mr-4">
                  <div class="quantity-group flex items-center space-x-2">
                    <button
                      (click)="minQuantity(i)"
                      class="px-3 py-1 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
                    >
                      -
                    </button>

                    <input
                      type="text"
                      value="{{ item.quantity || 1 }}"
                      class="w-12 text-center border border-gray-300 rounded focus:outline-none"
                    />
                    <button
                      (click)="plusQuantity(i)"
                      class="px-3 py-1 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
                    >
                      +
                    </button>
                  </div>
                </div>
                <div class="text-end md:order-4 md:w-32">
                  <p class="text-base font-bold text-gray-900 dark:text-white">
                    {{ item.price * item.quantity |currency: ' ':'symbol':'1.0-2'  }}₫
                  </p>
                </div>
              </div>

              <div
                class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md"
              >
                <a
                  href="#"
                  class="text-base font-medium text-gray-900 hover:underline dark:text-white"
                  >{{ item.name }}</a
                >
                <p class="text-base font-bold text-gray-900 dark:text-white">
                  {{ item.price }}₫
                </p>

                <div class="flex items-center gap-4">
                  <button
                    type="button"
                    class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white"
                  >
                    <svg
                      class="me-1.5 h-5 w-5"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                      />
                    </svg>
                    Add to Favorites
                  </button>

                  <button
                    (click)="removeItemFromCart(item.id)"
                    type="button"
                    class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500"
                  >
                    <svg
                      class="me-1.5 h-5 w-5"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18 17.94 6M18 18 6.06 6"
                      />
                    </svg>
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end md:order-4 md:w-32">
            <p class="text-base font-bold text-gray-900 dark:text-white">
              {{ totalPrice  | currency: ' ':'symbol':'1.0-2' }}₫
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
