<div
  class="row mb-3 py-6 pb-7 bg-slate-400 bg-[url('https://tannguyen0212.sirv.com/THEVOUX/fashion/slide_product_1_img_1_img.jpg')]"
>
  <div class="flex-col text-center">
    <p class="text-6xl">CULTURE</p>
  </div>
</div>
<div class="flex justify-center">
  <div id="category-title" class="parallax-bg">
    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/culture/z1-370x280.jpg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-gray-500 font-mono font-normal text-xs"
        >
          <a> CULTURE </a>

          <a> __ APRIL 11,2024</a>
        </div>
        <div class="font-serif text-2xl font-normal text-gray-600">
          <p>Let’s Swoon Over 10 Years of Olivia Palermo Outfits</p>
        </div>
        <div class="font-normal text-gray-600 text-sm">
          <p>
            There are many elements of Charlotte D’Alessio’s life that read like
            a teenager’s fairy tale.…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/culture/mm5-370x280.jpg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-gray-500 font-mono font-normal text-xs"
        >
          <a>CULTURE </a>

          <a> __ APRIL 11,2024</a>
        </div>
        <div class="font-serif text-2xl font-normal text-gray-600">
          <p>Getting Ready With Kirsten Dunst For The 2016</p>
        </div>
        <div class="font-normal text-gray-600 text-sm">
          <p>
            There are many elements of Charlotte D’Alessio’s life that read like
            a teenager’s fairy tale.…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/culture/21-370x280.jpg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-gray-500 font-mono font-normal text-xs"
        >
          <a> FASHION </a>

          <a> __ APRIL 11,2024</a>
        </div>
        <div class="font-serif text-2xl font-normal text-gray-600">
          <p>Olivia Palermo Proves the Sexy Summer Dress Can Be Comfy</p>
        </div>
        <div class="font-normal text-gray-600 text-sm">
          <p>
            There are many elements of Charlotte D’Alessio’s life that read like
            a teenager’s fairy tale.…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
