<div
  class="wpb_wrapper  mr-20 ml-20 my-8 py-8 bg-slate-100"
>
  <div class="">
    <div class="text-center">
      <span>
        <p class="text-4xl text-gray-950">NEED SOME</p>
      </span>
      <span>
        <p class="text-4xl text-gray-950">FASHION</p>
      </span>
      <span>
        <p class="text-4xl text-rose-500">INSPIRATION IN</p>
      </span>
      <span>
        <p class="text-4xl text-rose-500">YOUR LIFE?</p>
      </span>
      <div>
        <div class="example-button-row">
          <button
            mat-stroked-button
            class="text-xs py-6 px-10 bg-orange-400 hover:bg-orange-500 active:bg-orange-600"
          >
            FOLLOW FUELTHEMES
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
