<mat-tab-group>
  <mat-tab label="Men Shirts">
      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 my-4">
              <div
                id="button-container"
                class="col-xs-12 col-md-6 col-md-offset-3 flex gap-4"
              >

              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p *ngIf="loadedProducts.length < 1 && !isFetching">
                  No posts available!
                </p>
                <div
                  class="list-group"
                  *ngIf="loadedProducts.length >= 1 && !isFetching"
                >
              
                </div>
                <table
                mat-table
                [dataSource]="loadedProducts"
                  class="mat-elevation-z8"
                  id="table-container"
                >

                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Category</th>
                  <td mat-cell *matCellDef="let product ">
                    {{ product.category }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="imageUrl">
                  <th mat-header-cell *matHeaderCellDef>Image</th>
                  <td mat-cell *matCellDef="let product ">
                    <!-- {{ post.imageUrl }} -->
                    <img
                    [src]="product.imageUrl"
                    alt="{{ product.title }}"
                    class="w-full h-auto m-2"
                  />
                  </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let product ">
                    {{ product.name}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let product">
                    {{ product.description }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef>Price</th>
                  <td mat-cell *matCellDef="let product ">
                    {{ product.price }}
                  </td>
                </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let product">

                      <button
                      (click)="onEdit(product)"
                        class="inline-flex items-center px-6 py-1 bg-blue-600 transition ease-in-out delay-75 hover:bg-blue-700 text-white text-sm font-medium rounded-md hover:-translate-y-1 hover:scale-110 my-1"
                      >
                        Edit
                      </button>
                      <button
                      (click)="onDelete(product?.id)"
                        class="inline-flex items-center px-1 py-1 bg-red-600 transition ease-in-out delay-75 hover:bg-red-700 text-white text-sm font-medium rounded-md hover:-translate-y-1 hover:scale-110 my-1"
                      >
                        <svg
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          fill="none"
                          class="h-5 w-5 mr-2"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                            stroke-width="2"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                          ></path>
                        </svg>

                        Delete
                      </button>

                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <p *ngIf="isFetching && !error">Loading...</p>
                <div class="alert" aler-danger *ngIf="error">
                  <h1>An Error Occurred!</h1>
                  <p>{{ error }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="Men Pants">

  </mat-tab>
  <mat-tab label="Shoes">


  </mat-tab>
<mat-tab label="Accessories">

</mat-tab>
</mat-tab-group>

