<div
  class="row mb-3 py-6 pb-7 bg-slate-400 bg-[url('https://tannguyen0212.sirv.com/THEVOUX/fashion/attractiv.jpeg')]"
>
  <div class="flex-col text-center">
    <p class="text-6xl text-white">FASHTION</p>
  </div>
</div>
<div class="flex justify-center">
  <div id="category-title" class="parallax-bg">
    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/fashion/attractiv.jpeg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-red-500 font-mono font-bold"
        >
          <a> FASHION </a>

          <a> __ APRIL 11,2024</a>
        </div>
        <div class="font-serif text-2xl font-medium">
          <p>Chrissy Teigen & Emily Ratajkowski Have A Sexy-Off</p>
        </div>
        <div class="font-normal">
          <p>
            Both girls look absolutely ah-mazing as they celebrated the launch
            of Samsung’s new Galaxy S6…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/fashion/bond-no-9-fragrance-new-york-5-740x560.jpg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-red-500 font-mono font-bold"
        >
          <a> FASHION </a>

          <a> __ APRIL 14,2024</a>
        </div>
        <div class="font-serif text-2xl font-medium">
          <p>Yumi Launch ‘Asha’ Dress For Nepal Earthquake Appeal</p>
        </div>
        <div class="font-normal">
          <p>
            As events continue to unfold following the devastating earthquake in
            Nepal over the weekend, there…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/fashion/nikki-reed-actress-after-dark-beauty-3-740x560.jpg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-red-500 font-mono font-bold"
        >
          <a> FASHION </a>

          <a> __ APRIL 16,2024</a>
        </div>
        <div class="font-serif text-2xl font-medium">
          <p>Carey Mulligan Steals Style Tips From Sienna Miller</p>
        </div>
        <div class="font-normal">
          <p>
            Going out for me is usually a very relaxed situation. I’ve probably
            been out to…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/fashion/street_fashion_ii_by_malize-d57wvzx-370x280.jpg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-red-500 font-mono font-bold"
        >
          <a> FASHION </a>

          <a> __ APRIL 20,2024</a>
        </div>
        <div class="font-serif text-2xl font-medium">
          <p>See The Best Street Style Looks From Paris Fashion Week</p>
        </div>
        <div class="font-normal">
          <p>
            Oh la la! Paris Fashion Week is in full swing. We’ve been busy
            spotting all…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center max-w-3xl max-h-64 mb-7">
      <div
        class="flex flex-col gap-3 max-w-80 max-h-64 p-4 small-12 medium-5 large-6 columns align-middle justify-around"
      >
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/fashion/NYFW-ss-2015-street-style-marianna-hewitt-blog-370x280.jpg"
          alt=""
        />
      </div>
      <div class="flex flex-col gap-1 p-4 mb-8">
        <div
          class="text-center flex justify-start text-red-500 font-mono font-bold"
        >
          <a> FASHION </a>

          <a> __ APRIL 20,2024</a>
        </div>
        <div class="font-serif text-2xl font-medium">
          <p>Mollie King Flaunts Folli Follie’s Must-Have Accessories</p>
        </div>
        <div class="font-normal">
          <p>
            If you’re looking for a stylish addition to your outfit, Folli
            Follie is your go…
          </p>
          <div class="flex gap-3">
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                />
              </svg>
            </a>
            <a class="border p-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex gap-4 mt-7 relative">
      <a class="hidden lg:block">
        <img
          src="https://tannguyen0212.sirv.com/THEVOUX/fashion/news_detail_banner.jpg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
