<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul
        class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm p-1"
      >
        <li>
          <a
            routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] p-2 rounded-full"
            routerLink="products/men-shirts"
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page"
          >
            MEN SHIRTS
          </a>
        </li>
        <li>
          <a
          routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] p-2 rounded-full"
            routerLink="products/men-paints"
            class="text-gray-900 dark:text-white hover:underline"
          >
            MEN PANTS
          </a>
        </li>
        <li>
          <a
          routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] p-2 rounded-full"
            routerLink="products/shoes"
            class="text-gray-900 dark:text-white hover:underline"
          >
            SHOES</a
          >
        </li>
        <li>
          <a
          routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] p-2 rounded-full"
            routerLink="products/accessories"
            class="text-gray-900 dark:text-white hover:underline"
            >ACCESSORIES</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
