<div class="pt-10 pb-6 lg:pt-[40px] lg:pb-2">
  <div class="container mx-auto flex flex-wrap gap-4 w-auto justify-center">
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
    <div class="product-small box m-2 max-w-72">
      <div class="box-image max-w-72">
        <div class="image-none">
          <img
            src="https://cdn2.yame.vn/pimg/giay-casual-phu-kien-mien-gio-cat-24-0022859/e952e13b-c20d-0e00-22de-001af1e68226.jpg?w=540&h=756&c=true&ntf=false"
            alt=""
          />
        </div>
      </div>
      <div class="box-text text-center">
        <div class="title-wrapper">
          <a href="">Giày Casual Phụ Kiện Miền Gió Cát 24 Vol 23</a>
        </div>
        <div class="price-wrapper">
          <span>478.000 ₫</span>
        </div>
      </div>
    </div>
  </div>
</div>
