<div class="pt-10 pb-6 lg:pt-[40px] lg:pb-2">
  <div class="container mx-auto flex flex-wrap gap-4 w-auto justify-center">
    <div *ngFor="let product of filteredProducts">
      <div class="product-small box m-2">
        <div class="box-image max-w-72">
          <div class="image-none">
            <!-- <img
              src="https://tannguyen0212.sirv.com/category/men%20shirts/hinh50.jpg"
              alt=""
            /> -->
            <img
              [src]="product.imageUrl"
              alt="{{ product.name }}"
              class="w-full h-auto"
            />
          </div>
        </div>
        <div class="flex flex-row justify-between max-w-72">
          <div class="flex flex-wrap title-wrapper">
            <a>{{ product.name }}</a>
          </div>
          <div class="price-wrapper text-violet-800 ml-5">
            <span>{{ product.price }}₫</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
